@*
    
*@
@{
    ViewData["Title"] = "Success";
}

<h1>You created a new dog successfully!</h1>
<div>
    <a asp-action="Create">Create new dog</a>
</div>

<div>
    <a asp-action="Dogs">List all dogs</a>
</div>
